*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange: rgb(81, 243, 243); 
    --winner-blocks: rgb(33, 33, 33);
}

body{
    color: var(--orange);
    font-family: 'Russo One', sans-serif;
    background-color: rgb(15, 4, 4);
}

h5{
    font-size: 20px;
    color:#fff;
}

h1{
    font-size: 54px;
    text-transform: uppercase;
    text-decoration: none;
    
}

.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

#playerboard{
    width: 450px;
    display: flex;
    flex-wrap:wrap;
    margin-top: 40px;
    
}

.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 120px;
    border-right: 4px solid;
    border-bottom: 4px solid;
}

.box:nth-child(3n){
    border-right: none;
}

.box:nth-child(6) ~ .box{
    border-bottom: none;
}

button{
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--orange);
    color: rgb(57, 67, 68);
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
}

button:hover{
cursor: pointer;
transform: translateY(-2px);
filter: invert(5%);
}
